# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [ ]:
import pymysql
from sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [ ]:
from sqlalchemy import create_engine
stats = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table.

In [ ]:
users = pd.read_sql_query('SELECT * FROM users', stats)

print(users.head())

#### 5. Rename Id column to userId.

In [ ]:
q1 = '''select * from users'''
cursor = connection.cursor()
cursor.execute(q1)
x = cursor.fetchall()
data = pd.DataFrame(x)
print(data.head())
data = data.rename(columns={"Id": "userId"})
print(data.head())

#### 6. Import the posts table.

In [7]:
q2 =  '''select * from posts'''
cursor = connection.cursor()
cursor.execute(q2)
x2 = cursor.fetchall()
posts = pd.DataFrame(x2)
print(posts.head())

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [8]:
column = posts.rename(columns={"Id": "PostId", "OwnerUserId":"userId"})
print(column.head())

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [ ]:
#Users

users_column_order2 = ['UserId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
new_users = data[users_column_order2]

print(new_users.head())

#Posts
column_order2 = ['PostId', 'Score', 'userId', 'ViewCount', 'CommentCount']

new_posts = column[column_order2]

print(new_posts.head())

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
data2 = pd.merge(new_users, new_posts, on='userId')

print(data2)

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
x = data2.isnull().sum()

print(x)

#48396 missing values in the ViewCount Column

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [ ]:
#about half of the rows have a null "ViewCount" value,  and about half where viewcount is not null, so it would not be . a good idea to drop this coloumn bc then you'd be dropping half the data. It may be best to replace the null values with something else, like a "0" or a "-"


data['ViewCount'].fillna(0) #to replace null values with "0"

data2['ViewCount'] = (data2['ViewCount'].astype('object')).replace('NULL', '0')#also can be used to change null values to "0". It is basically converting the float to an object(string) to then replace all the "Null" values with "0"

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
data2['ViewCount'] = (data2['ViewCount'].astype('float64'))
print(data2['ViewCount'])

#since "View Count" float values were converted to a string to replace the null values,  would need to convert them back to a float in order to avoid future confusion