## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
import random
sample_list_1 = [x for x in random.sample(range(100), 80)]

print(sample_list_1)

[73, 23, 76, 0, 39, 71, 55, 26, 90, 93, 97, 19, 36, 77, 13, 67, 21, 25, 45, 96, 95, 46, 57, 38, 49, 91, 15, 17, 69, 81, 75, 7, 6, 41, 68, 72, 9, 3, 14, 62, 2, 98, 52, 60, 44, 16, 59, 35, 22, 50, 56, 63, 10, 70, 92, 4, 86, 33, 54, 89, 94, 51, 34, 85, 48, 80, 84, 87, 42, 5, 30, 27, 31, 8, 29, 11, 53, 28, 32, 66]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)

if len(set1) == len(sample_list_1):
    print("Yes!")
else:
    print("No!")

Yes!

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
import random
sample_list_2 = []
for i in range(100):
    sample_list_2.append(random.choice(range(100)))
    
print(sample_list_2)

[1, 36, 94, 62, 55, 36, 46, 0, 1, 81, 99, 2, 21, 93, 48, 64, 19, 74, 14, 55, 60, 63, 60, 87, 74, 64, 19, 57, 5, 98, 21, 82, 65, 84, 66, 29, 12, 74, 97, 56, 66, 97, 43, 89, 36, 99, 87, 60, 80, 31, 23, 74, 70, 80, 6, 34, 44, 48, 3, 45, 70, 88, 10, 12, 66, 82, 15, 87, 16, 23, 66, 40, 5, 93, 47, 31, 74, 86, 60, 88, 89, 20, 31, 63, 55, 67, 44, 77, 22, 73, 78, 5, 46, 74, 16, 39, 79, 11, 42, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)

if len(set2) == len(sample_list_2):
    print("Yes!")
else:
    print("No!")

No!

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set1 - set2
print(set3)

{4, 7, 8, 9, 13, 17, 25, 26, 27, 30, 32, 33, 35, 38, 41, 49, 50, 51, 52, 53, 54, 59, 68, 69, 71, 72, 75, 76, 85, 90, 91, 92, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = set2 - set1
print(set4)

{64, 1, 65, 99, 40, 74, 43, 12, 78, 47, 79, 82, 20, 88}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 5, 6, 10, 11, 14, 15, 16, 19, 21, 22, 23, 28, 29, 31, 34, 36, 39, 42, 44, 45, 46, 48, 55, 56, 57, 60, 62, 63, 66, 67, 70, 73, 77, 80, 81, 84, 86, 87, 89, 93, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
if set1 == set6:
    print("They are equal!")
else:
    print("They are different!")

They are equal!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
# Your code here
if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 does not contain set2")
    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
sets_3_4_5 = set3.union(set4, set5)
print(sets_3_4_5)

sets_1_2 = set1.union(set2)
print(sets_1_2)

if sets_1_2 == sets_3_4_5:
    print("They are equal!")
else:
    print("They are different")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
They are equal!

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

[2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 42, 44, 45, 46, 48, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 66, 67, 68, 70, 72, 73, 75, 76, 77, 80, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98]