# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries

import numpy as np
import pandas as pd 
import functools
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database

pokemon = pd.read_csv('/Users/gracemartinez/ironhack/daft-miami-1019-labs/module-1/Dataframe-Calculations/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here

pokemon.columns = pokemon.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')


newdf = pokemon[pokemon.columns[2:4]] 
l1 = list(pokemon['type_1'].unique())
l2 = list(pokemon['type_2'].unique())
l3 = l1+l2
temp_list = list(set(l3))[1:]
np.array(temp_list)

array(['Normal', 'Bug', 'Electric', 'Water', 'Flying', 'Poison',
       'Psychic', 'Ghost', 'Steel', 'Fairy', 'Fighting', 'Rock', 'Ground',
       'Grass', 'Fire', 'Ice', 'Dragon', 'Dark'], dtype='<U8')

In [5]:
# connecting all headers to lower case and underscore instead of space

pokemon.columns = pokemon.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
pokemon.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp._atk', 'sp._def', 'speed', 'generation', 'legendary'],
      dtype='object')

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [13]:
# your code here
# clean up extract lower if mega in x x=x.split return x of 1 

#pokemon['name'] = pokemon['name'].str.replace('VenusaurMega', 'Mega')
# print(set(pokemon['name']))

# test transformed data
pokemon.head(10)

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [10]:
# your code here
# pokemon.columns = pokemon.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')


def clean(x):
    x = x.lower()
    if 'mega' in x:
        x = x.split('mega')
        return ('mega' + " " + x[0])
    else:
        return(x)

pokemon['New Name']= list(map(clean,pokemon['name']))
pokemon.head()
pokemon.drop('name', axis=1)

,#,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,New Name
0,1,Grass,Poison,318,45,49,49,65,65,45,1,False,bulbasaur
1,2,Grass,Poison,405,60,62,63,80,80,60,1,False,ivysaur
2,3,Grass,Poison,525,80,82,83,100,100,80,1,False,venusaur
3,3,Grass,Poison,625,80,100,123,122,120,80,1,False,mega venusaur
4,4,Fire,NaN,309,39,52,43,60,50,65,1,False,charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,diancie
796,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,mega diancie
797,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,hoopahoopa confined
798,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,hoopahoopa unbound
799,721,Fire,Water,600,80,110,120,130,90,70,6,True,volcanion

In [15]:
def combo(x,y):
    if type(x)==str and type(y)==str:
        return(x+"-"+y)
    elif type(x)==str and type(y)==float:
        return(x)
    elif type(y)==str and type(x)==float:
        return(y)  
pokemon['Combo Type'] = list(map(combo,pokemon['type_1'], pokemon['type_2']))
pokemon.head()
pokemon.drop('name', axis=1)

,#,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,New Name,Combo Type
0,1,Grass,Poison,318,45,49,49,65,65,45,1,False,bulbasaur,Grass-Poison
1,2,Grass,Poison,405,60,62,63,80,80,60,1,False,ivysaur,Grass-Poison
2,3,Grass,Poison,525,80,82,83,100,100,80,1,False,venusaur,Grass-Poison
3,3,Grass,Poison,625,80,100,123,122,120,80,1,False,mega venusaur,Grass-Poison
4,4,Fire,NaN,309,39,52,43,60,50,65,1,False,charmander,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,diancie,Rock-Fairy
796,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,mega diancie,Rock-Fairy
797,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,hoopahoopa confined,Psychic-Ghost
798,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,hoopahoopa unbound,Psychic-Dark
799,721,Fire,Water,600,80,110,120,130,90,70,6,True,volcanion,Fire-Water

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [261]:
# your code here

pokemon['A/D Ratio'] = pokemon['attack'] / pokemon['defense']
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [262]:
# your code here

pokemon['A/D Ratio'].max()

9.0

In [263]:
pokemon.max()

#                          721
name          Zygarde50% Forme
type_1                   Water
total                      780
hp                         255
attack                     190
defense                    230
sp._atk                    194
sp._def                    230
speed                      180
generation                   6
legendary                 True
A/D Ratio                    9
dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [264]:
# your code here

pokemon['A/D Ratio'].min()

0.043478260869565216

In [265]:
pokemon.min()

#                     1
name
type_1              Bug
total               180
hp                    1
attack                5
defense               5
sp._atk              10
sp._def              20
speed                 5
generation            1
legendary         False
A/D Ratio     0.0434783
dtype: object

# Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [268]:
# listing name of columns to reference syntax correctly

list(pokemon.columns)

['#',
 'name',
 'type_1',
 'type_2',
 'total',
 'hp',
 'attack',
 'defense',
 'sp._atk',
 'sp._def',
 'speed',
 'generation',
 'legendary',
 'A/D Ratio']

In [ ]:
# pokemon.columns = pokemon.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [270]:
# your code here

pokemon['Combo Type'] = pokemon['type_1'] + pokemon['type_2']
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,GrassPoison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,GrassPoison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,GrassPoison
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,GrassPoison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN

In [17]:
def combo(x,y):
    if type(x)==str and type(y)==str:
        return(x+"-"+y)
    elif type(x)==str and type(y)==float:
        return(x)
    elif type(y)==str and type(x)==float:
        return(y)  
pokemon['Combo Type'] = list(map(combo,pokemon['type_1'], pokemon['type_2']))
pokemon.head()

# written out:
#if type1 and type2 is True = 'type1-type2'
#elif type1 is True and type2 is False = type1
#else type2 is True and type1 is False = type2

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary,New Name,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,bulbasaur,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,ivysaur,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,venusaur,Grass-Poison
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,mega venusaur,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,charmander,Fire

In [273]:
list(pokemon.columns)

['#',
 'name',
 'type_1',
 'type_2',
 'total',
 'hp',
 'attack',
 'defense',
 'sp._atk',
 'sp._def',
 'speed',
 'generation',
 'legendary',
 'A/D Ratio',
 'Combo Type']

In [ ]:
# how to delete columns: del df['column name']

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [274]:
# your code here

# verifying top A/D Ratio

pokemon['A/D Ratio'].max()

9.0

In [23]:
# top 5 A/D Ratio

pokemon.nlargest(5, ['A/D Ratio'])

KeyError: 'A/D Ratio'

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [22]:
# column names up to date. all lower case and underscore

pokemon.columns = pokemon.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
pokemon.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp._atk', 'sp._def', 'speed', 'generation', 'legendary', 'new_name',
       'combo_type'],
      dtype='object')

In [21]:
# your code here 

NewCT = pokemon.nlargest(5, ['a/d_ratio']).groupby('combo_type') 
  
list(NewCT)

KeyError: 'a/d_ratio'

In [20]:
# checking type of object produced

type(list(NewCT))

NameError: name 'NewCT' is not defined

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [19]:
# your code here 

x = pokemon.groupby(['combo_type'])['a/d_ratio'].mean()
pd.DataFrame(x).sort_values('a/d_ratio', ascending = False).head()

KeyError: 'combo_type'

In [18]:
x = pokemon.groupby(['combo_type'])['a/d_ratio'].mean()
pd.DataFrame(x).sort_values('a/d_ratio', ascending = False).head().index

KeyError: 'combo_type'