# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries

import numpy as np
import pandas as pd

In [4]:
# Importing the dataset from Ironhack's database

pokemon = pd.read_csv('/Users/gracemartinez/ironhack/daft-miami-1019-labs/module-1/Dataframe-Calculations/Pokemon.csv')

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here

pokemon['Total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [11]:
# your code here

pd.get_dummies(pokemon)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1,318,45,49,49,65,65,45,1,False,...,0,0,0,0,0,1,0,0,0,0
1,2,405,60,62,63,80,80,60,1,False,...,0,0,0,0,0,1,0,0,0,0
2,3,525,80,82,83,100,100,80,1,False,...,0,0,0,0,0,1,0,0,0,0
3,3,625,80,100,123,122,120,80,1,False,...,0,0,0,0,0,1,0,0,0,0
4,4,309,39,52,43,60,50,65,1,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,600,50,100,150,100,150,50,6,True,...,0,0,0,0,0,0,0,0,0,0
796,719,700,50,160,110,160,110,110,6,True,...,0,0,0,0,0,0,0,0,0,0
797,720,600,80,110,60,150,130,70,6,True,...,1,0,0,0,0,0,0,0,0,0
798,720,680,80,160,60,170,130,80,6,True,...,0,0,0,0,0,0,0,0,0,0
799,721,600,80,110,120,130,90,70,6,True,...,0,0,0,0,0,0,0,0,0,1

In [13]:
pd.concat([pd.get_dummies(pokemon[col]) for col in pokemon], axis=1, keys=pokemon.columns)

     #                             ... Speed     Generation                 \
     1  2  3  4  5  6  7  8  9 10  ...   160 180          1  2  3  4  5  6
0    1  0  0  0  0  0  0  0  0  0  ...     0   0          1  0  0  0  0  0
1    0  1  0  0  0  0  0  0  0  0  ...     0   0          1  0  0  0  0  0
2    0  0  1  0  0  0  0  0  0  0  ...     0   0          1  0  0  0  0  0
3    0  0  1  0  0  0  0  0  0  0  ...     0   0          1  0  0  0  0  0
4    0  0  0  1  0  0  0  0  0  0  ...     0   0          1  0  0  0  0  0
..  .. .. .. .. .. .. .. .. .. ..  ...   ...  ..        ... .. .. .. .. ..
795  0  0  0  0  0  0  0  0  0  0  ...     0   0          0  0  0  0  0  1
796  0  0  0  0  0  0  0  0  0  0  ...     0   0          0  0  0  0  0  1
797  0  0  0  0  0  0  0  0  0  0  ...     0   0          0  0  0  0  0  1
798  0  0  0  0  0  0  0  0  0  0  ...     0   0          0  0  0  0  0  1
799  0  0  0  0  0  0  0  0  0  0  ...     0   0          0  0  0  0  0  1

    Legendary
        False  1
0           1  0
1           1  0
2           1  0
3           1  0
4           1  0
..        ... ..
795         0  1
796         0  1
797         0  1
798         0  1
799         0  1

[800 rows x 2378 columns]

In [24]:
# ANSWER

for column in ['Type 1', 'Type 2']:
    dummies = pd.get_dummies(pokemon[column])
    pokemon[dummies.columns] = dummies

dummies

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [38]:
# your code here

dummies['Total'] = pokemon['Total']
corrs = dummies.corr()
corrs

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
Bug,1.000000,-0.009824,-0.009308,-0.005333,-0.010556,-0.011245,-0.007571,-0.022790,-0.008188,-0.011019,-0.013123,-0.008188,-0.004349,-0.012926,-0.012726,-0.008188,-0.010317,-0.008188,-0.021375
Dark,-0.009824,1.000000,-0.024294,-0.013920,-0.027550,-0.029348,-0.019760,-0.059481,-0.021371,-0.028760,-0.034251,-0.021371,-0.011351,-0.033736,-0.033214,-0.021371,-0.026927,-0.021371,0.065844
Dragon,-0.009308,-0.024294,1.000000,-0.013189,-0.026103,-0.027807,-0.018722,-0.056356,-0.020248,-0.027249,-0.032452,-0.020248,-0.010755,-0.031964,-0.031470,-0.020248,-0.025513,-0.020248,0.115240
Electric,-0.005333,-0.013920,-0.013189,1.000000,-0.014956,-0.015932,-0.010727,-0.032290,-0.011602,-0.015613,-0.018594,-0.011602,-0.006162,-0.018314,-0.018031,-0.011602,-0.014618,-0.011602,0.014669
Fairy,-0.010556,-0.027550,-0.026103,-0.014956,1.000000,-0.031533,-0.021232,-0.063909,-0.022962,-0.030901,-0.036801,-0.022962,-0.012196,-0.036248,-0.035687,-0.022962,-0.028932,-0.022962,-0.024606
Fighting,-0.011245,-0.029348,-0.027807,-0.015932,-0.031533,1.000000,-0.022617,-0.068081,-0.024461,-0.032918,-0.039203,-0.024461,-0.012992,-0.038614,-0.038017,-0.024461,-0.030820,-0.024461,0.138726
Fire,-0.007571,-0.019760,-0.018722,-0.010727,-0.021232,-0.022617,1.000000,-0.045839,-0.016469,-0.022164,-0.026396,-0.016469,-0.008748,-0.025999,-0.025597,-0.016469,-0.020751,-0.016469,0.073234
Flying,-0.022790,-0.059481,-0.056356,-0.032290,-0.063909,-0.068081,-0.045839,1.000000,-0.049575,-0.066716,-0.079453,-0.049575,-0.026332,-0.078259,-0.077049,-0.049575,-0.062464,-0.049575,0.054048
Ghost,-0.008188,-0.021371,-0.020248,-0.011602,-0.022962,-0.024461,-0.016469,-0.049575,1.000000,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,-0.017812,-0.004885
Grass,-0.011019,-0.028760,-0.027249,-0.015613,-0.030901,-0.032918,-0.022164,-0.066716,-0.023970,1.000000,-0.038417,-0.023970,-0.012732,-0.037839,-0.037254,-0.023970,-0.030202,-0.023970,-0.039224
Ground,-0.013123,-0.034251,-0.032452,-0.018594,-0.036801,-0.039203,-0.026396,-0.079453,-0.028547,-0.038417,1.000000,-0.028547,-0.015163,-0.045064,-0.044367,-0.028547,-0.035969,-0.028547,0.016486
Ice,-0.008188,-0.021371,-0.020248,-0.011602,-0.022962,-0.024461,-0.016469,-0.049575,-0.017812,-0.023970,-0.028547,1.000000,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,-0.017812,0.100870
Normal,-0.004349,-0.011351,-0.010755,-0.006162,-0.012196,-0.012992,-0.008748,-0.026332,-0.009461,-0.012732,-0.015163,-0.009461,1.000000,-0.014935,-0.014704,-0.009461,-0.011921,-0.009461,-0.013956
Poison,-0.012926,-0.033736,-0.031964,-0.018314,-0.036248,-0.038614,-0.025999,-0.078259,-0.028118,-0.037839,-0.045064,-0.028118,-0.014935,1.000000,-0.043700,-0.028118,-0.035428,-0.028118,-0.067837
Psychic,-0.012726,-0.033214,-0.031470,-0.018031,-0.035687,-0.038017,-0.025597,-0.077049,-0.027683,-0.037254,-0.044367,-0.027683,-0.014704,-0.043700,1.000000,-0.027683,-0.034880,-0.027683,0.076054
Rock,-0.008188,-0.021371,-0.020248,-0.011602,-0.022962,-0.024461,-0.016469,-0.049575,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,1.000000,-0.022443,-0.017812,-0.000512
Steel,-0.010317,-0.026927,-0.025513,-0.014618,-0.028932,-0.030820,-0.020751,-0.062464,-0.022443,-0.030202,-0.035969,-0.022443,-0.011921,-0.035428,-0.034880,-0.022443,1.000000,-0.022443,0.070307
Water,-0.008188,-0.021371,-0.020248,-0.011602,-0.022962,-0.024461,-0.016469,-0.049575,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,1.000000,-0.018800
Total,-0.021375,0.065844,0.115240,0.014669,-0.024606,0.138726,0.073234,0.054048,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800,1.000000

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [32]:
# your code here


pd.DataFrame(corrs['Total']).sort_values('Total', ascending = False)

             Total
Total     1.000000
Fighting  0.138726
Dragon    0.115240
Ice       0.100870
Psychic   0.076054
Fire      0.073234
Steel     0.070307
Dark      0.065844
Flying    0.054048
Ground    0.016486
Electric  0.014669
Rock     -0.000512
Ghost    -0.004885
Normal   -0.013956
Water    -0.018800
Bug      -0.021375
Fairy    -0.024606
Grass    -0.039224
Poison   -0.067837

In [37]:
# filter for best pokemon to choose  

pokemon[(pokemon['Type 1']=='Dragon') & (pokemon['Type 2']=='Ice' )]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,...,0,0,0,1,0,0,0,0,0,0
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,...,0,0,0,1,0,0,0,0,0,0
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,...,0,0,0,1,0,0,0,0,0,0